body                 /*Alles wat hiertussen staat zorgt voor de opmaak (css) van de pagina*/
{
  background-color: rgb(205, 4, 17);                /*Dit geeft de kleur van de achtergrond van de pagina aan*/
}

h1 {                                                           /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h1.*/
  color: #362267;                                            /*Dit geeft aan welke kleur de tekst in h1 moet zijn gescreven*/
  margin-left: 20px;                                             /*Dit zegt hoeveel pixels er aan de linker kant van (h1) komen.*/
}

h2 {                                                 /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h2.*/
color: rgb(255, 255, 255);                            /*Dit geeft aan welke kleur de tekst in h2 moet zijn gescreven*/
margin-left: 20px;                                       /*Dit zegt hoeveel pixels er aan de linker kant van (h2) komen.*/
}

h3 {                                                  /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h3.*/
color: black;                                       /*Dit geeft aan welke kleur de tekst in h3 moet zijn gescreven*/
margin-left: 20px;                                 /*Dit zegt hoeveel pixels er aan de linker kant van (h3) komen.*/
}


ul {                                    /*Alles tussen deze twee haakjes geeft informatie over de balk  aan de bovenkant van de pagina*/
  list-style-type: none;                     /*Dit verwijdert de opsommingstekens (bolletjes-cijfers)*/
  margin: 0;                                    /*Dit verwijdert de buitenruimte rondom de tekst (balk).*/
  padding: 0;                                       /*Dit verwijdert de binnenruimte rondom de tekst (balk)*/
  overflow: hidden;                                     /*Dit verbergt alles wat buiten de tekst (balk) valt*/
  background-color: rgb(54, 34, 103);                     /*Dit geeft de kleur aan van de balk */
}

ul li {
  float: left;                       /*Dit zorgt ervoor dat elk lijstitem (woord in de balk) naar links "zweeft", waardoor ze naast elkaar komen te staan in plaats van onder elkaar.*/
}

ul li a {                                    /*Alles tussen deze twee haakjes geeft informatie over de balk  aan de bovenkant van de pagina*/
  display: block;                                /*Dit geeft aan dat de balk een blok is en van de ene naar de andere kant loopt*/
  color: rgb(255, 255, 255);                    /*Dit zegt welke kleur de tekst moet zijn die in de balk staat*/
  text-align: center;                                /*Dit zorgt ervoor dat de tekst in de balk in het midden staat en niet aan de boven-/onderkant*/
  padding: 14px 16px;                                    /*Dit zegt hoeveel ruimte (pixels) er tussen de stukjes tekst komt te staan*/
  text-decoration: none;                                    /*Dit zorgt ervoor dat er geen decoratie op de tekst komt */
}

ul li a:hover {
  background-color: #040dbb;                                          /*Dit is de kleur die je krijgt als je met je muis over de woorden in de balk gaat*/
}

img {                                               /*Hiertussen komt de informatie over de plaatjes*/
border-radius: -60px;                                /*Dit maakt de hoeken van de plaatjes rond*/
margin-left: 50px;                                   /*De zegt hoeveel pixels er aan de linker kant moeten komen van het plaatje. Je kan bijvoorbeeld ook zeggen hoeveel pixels er aan de boven/onderkant moeten komen.*/
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: rgb(54, 34, 103);
  color: white;
  text-align: center;
}
