body                 /*Alles wat hiertussen staat zorgt voor de opmaak (css) van de pagina*/
{
  background-color: rgb(151, 32, 40);                /*Dit geeft de kleur van de achtergrond van de pagina aan*/
}

h1 {                                                           /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h1.*/
  color: #362267;                                            /*Dit geeft aan welke kleur de tekst in h1 moet zijn gescreven*/
  margin-left: 20px;                                             /*Dit zegt hoeveel pixels er aan de linker kant van (h1) komen.*/
}

h2 {                                                 /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h2.*/
color: rgb(255, 255, 255);                            /*Dit geeft aan welke kleur de tekst in h2 moet zijn gescreven*/
margin-left: 20px;                                       /*Dit zegt hoeveel pixels er aan de linker kant van (h2) komen.*/
}

h3 {                                                  /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h3.*/
color: black;                                       /*Dit geeft aan welke kleur de tekst in h3 moet zijn gescreven*/
margin-left: 20px;                                 /*Dit zegt hoeveel pixels er aan de linker kant van (h3) komen.*/
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #362267;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #040dbb;
}

img {
border-radius: 10px;
margin-left: 50px;
}




