body 
{
  background-color: rgb(65, 64, 64);
}

h1 {                                                           /*Tussen deze twee haakjes ga ik de informatie geven overe de stukjes tekst die zijn geschreven in h1.*/
  color: rgb(245, 0, 196);                                            /*Dit geeft aan welke kleur de tekst in h1 moet zijn gescreven*/
  margin-left: 20px;                                             /*Dit zegt hoeveel pixels er aan de linker kant van (h1) komen.*/
}

h2 {
color: rgb(245, 0, 196);
margin-left: 20px;
}

h3 {
color: rgb(255, 255, 255);
margin-left: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(245, 0, 196);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #040dbb;
}

img {
border-radius: 10px;
margin-left: 700px;
}




