body 
{
  background-color: rgb(130, 82, 198);
}

h1 {
  color: rgb(220, 127, 19);
  margin-left: 20px;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

a {
color: rgb(220, 127, 19);
margin-left: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09c85c;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 0px;
}

ul li a:hover {
  background-color: #040dbb;
}

img {
  border-radius: 100px;
  margin-left: 10px;
}

.byte {
  border-radius: 0px;
}

.footer {                            /*Dit geeft informatie over de footer, tussen deze twee haakjes*/
  position: sticky;
  left: 0;                         /*Het geeft de zijkant van de balk (links/rechts)*/
  bottom: 0px;                      /*Dit geeft de zijkant van de balk ook weer (onder/boven)*/
  width: 100%;                           /*De breedte is 100%, dus van de ene naa de andere kant*/
  background-color: rgb(191, 255, 0);              /*Geeft de kleur van de footer achtergrond*/
  color: rgb(0, 0, 0);                               /*Dit is de kleur van de tekst in de footer*/
  text-align: center;                            /*Dit zorgt ervoor dat de tekst in het midden staat en niet aan de linker / rechter kant */
}
