body 
{
background-image: url(/plaatjes!/kleurmodellen.jpg);                          /*Dit zegt dat de achtergrond geen kleur is, maar ik heb een plaatje ingevoegd.*/
background-repeat: no-repeat;                                         /*Dit geeft aan dat de afbeelding maar 1 keer wordt weergegeven en dus niet wordt herhaald.*/
background-size: cover;                                                   /*Dit zegt dat het plaatje over de hele achterkant (cover) moet komen en niet over alleen een deel.*/                                
}

h1 {                               
  color: rgb(255, 255, 255);                   
  margin-left: 20px;            
}

h2 {
color: rgb(255, 255, 255);
margin-left: 20px;
}

h3 {
color: rgb(0, 0, 0);
margin-left: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #040dbb;
}

img {
border-radius: 0px;
margin-left: 50px;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: rgb(54, 34, 103);
  color: white;
  text-align: center;
}
